
 table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin: 0 auto;
    width: 80%;
}


td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.dashboard tr:nth-child(even) {
    background-color: #dddddd;
}